body {
  background: #222;
  color: #fff;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.participant-card {
  background: #555;
  margin: 5px 0;
  padding: 10px;
}

.participant-card:nth-of-type(even) {
  background: #333;
}

input {
  color: #444;
}
